body {
  color: DimGray;
  font-size: 1.5em;
  font-family: 'Pangolin', cursive;
}

#self_intro {
  width: 600px;
}

#self_intro img {
  width: 200px;
}

header {
  margin-bottom: 80px;
  padding-top: 50px;
}

header h3 {
  margin-bottom: 30px;
}

.nav {
  margin-bottom: 30px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tab-content {
  height: 120px;
}